<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogDataExporter\Model\Provider\Product\Formatter\ImageFormatter">
        <plugin name="basecom_live_search_set_cached_image_urls"
                type="Basecom\LiveSearchImageUrls\Plugin\SetCachedImageUrls"
                sortOrder="10"
        />
    </type>
    <type name="Basecom\LiveSearchImageUrls\Plugin\SetCachedImageUrls">
        <arguments>
            <argument name="fallbackHeight" xsi:type="number">90</argument>
            <argument name="fallbackWidth" xsi:type="number">90</argument>
        </arguments>
    </type>
</config>
