<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogDataExporter\Model\Provider\Product\Formatter\ImageFormatter">
        <plugin name="basecom_live_search_set_cached_image_urls"
                type="Basecom\LiveSearchImageUrls\Plugin\SetCachedImageUrls"
                sortOrder="10"
        />
    </type>
    <type name="Basecom\LiveSearchImageUrls\Plugin\SetCachedImageUrls">
        <arguments>
            <argument name="fallbackDimensions" xsi:type="array">
                <item name="thumbnail" xsi:type="array">
                    <item name="width" xsi:type="number">90</item>
                    <item name="height" xsi:type="number">90</item>
                </item>
                <item name="small_image" xsi:type="array">
                    <item name="width" xsi:type="number">360</item>
                    <item name="height" xsi:type="number">360</item>
                </item>
                <item name="image" xsi:type="array">
                    <item name="width" xsi:type="number">700</item>
                    <item name="height" xsi:type="number">700</item>
                </item>
                <item name="swatch_image" xsi:type="array">
                    <item name="width" xsi:type="number">30</item>
                    <item name="height" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
